<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="demo">
        <h2>测试：v-for 遍历数组</h2>
        <ul>
            <li v-for="(p,index) in persons" :key="index">
                {{index}}--{{p.name}}--{{p.age}}
                ---<button @click="deletep(index)">删除</button>
                ---<button @click="updatep(index,{name:'Cat',age:20})">更新</button>
            </li>
        </ul>
        <h2>测试：v-for 遍历对象</h2>
        <ul>
            <li v-for="(v,key) in persons[1]" :key="key">
                {{v}}--{{key}}
            </li>
        </ul>

    </div>

<script type="text/javascript" src="../js/vue.js"></script>
<script>
    new Vue({
      el:'#demo',
      data:{
       persons:[
            {name:'Tom',age:'18'},
            {name:'Jack',age:'16'},
            {name:'Bob',age:'19'},
            {name:'Rose',age:'17'},
       ]
     },
        methods:{
            deletep(index){
                this.persons.splice(index,1)
            },
            updatep(index,newP){
                // this.persons[index] = newP
                // this.persons=[]
                this.persons.splice(index,1,newP)
            }
        }
    
    })
</script>
    
</body>
</html>